$color-dark: rgb(47, 34, 34);
$color-light: rgb(255, 255, 255);
$color-description: rgba(47, 34, 34, 0.4);
$color-blue: rgb(93, 113, 221);
$color-background: rgb(229, 229, 229);
$color-grey: rgb(245, 245, 245);

$button-height: 50px;
$border-radius: 20px;
$border-padding: 13px;

$font-family-base: 'Futura-Book';

$container-width: 280px;
$container-padding-x: 20px;

$transition-duration: 0.2s;